.custom-margin-lg {
  margin-left: 0;
  margin-right: 0;
}

.custom-header {
  position: fixed;
  top: 0;
  left: 250px;
  right: 300px;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.9);
}

.profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background-color: rgb(189, 189, 189);
}

.profile-image-container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  bottom: -50%;
  left: 20px;
  transform: translate(0, -50%);
}

.user-post-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background-color: white;

}

.custom-link {
  text-decoration: none;
  color: black;
  font-weight: 600;
  transition: all 0.3s ease-in;
  display: flex;
  align-items: center;
  gap: 8px;
  border-bottom: 1px solid #c7c7c7;
  padding-bottom: 12px;
}

.default-link {
  text-decoration: none;
  color: black;
  font-weight: 600;
  transition: all 0.3s ease-in;
}

.custom-link:hover,
.default-link:hover {
  text-decoration: underline;
}

@media (min-width: 992px) {
  .custom-margin-lg {
    margin-left: 250px;
    margin-right: 300px;
  }
}

@media (max-width: 992px) {
  .custom-header {
    left: 0px;
    right: 0px;
  }
  .custom-padding-bottom {
    padding-bottom: 60px !important;
  }
  .dropdown {
    width: 100%;
  }
  #dropdown-basic {
    width: 100%;
  }
}
